In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\chenl\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\chenl\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\chenl\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\chenl\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\chenl\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\chenl\anaconda3\lib\site-packages (3.3.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pillow>=6.2.0 in c:\users\chenl\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\chenl\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\chenl\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\chenl\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\chenl\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\chenl\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.15 in c:\users\chenl\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\chenl\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [3]:
import pandas as pd

In [5]:
with open(r'C:\Users\chenl\sales.json', 'r') as file:
    json_data = file.readlines()

In [6]:
json_data = "[ "+" , ".join(json_data) +" ]"

In [7]:
data = pd.read_json(json_data)

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [20]:
data

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,{'$oid': '5bd761dcae323e45a93ccfec'},{'$date': '2017-12-03T18:39:48.253Z'},"[{'name': 'backpack', 'tags': ['school', 'travel', 'kids'], 'price': {'$numberDecimal': '127.59'}, 'quantity': 3}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '17.6'}, 'quantity': 4}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '18.67'}, 'quantity': 2}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '60.56'}, 'quantity': 3}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '28.41'}, 'quantity': 1}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '15.28'}, 'quantity': 7}, {'name': 'laptop', 'tags': ['electronics', 'school', 'office'], 'price': {'$numberDecimal': '1259.02'}, 'quantity': 3}]",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib.sh', 'satisfaction': 4}",False,In store
1,{'$oid': '5bd761dcae323e45a93ccff0'},{'$date': '2017-03-21T01:54:26.657Z'},"[{'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '16.97'}, 'quantity': 7}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '11.92'}, 'quantity': 5}, {'name': 'laptop', 'tags': ['electronics', 'school', 'office'], 'price': {'$numberDecimal': '565.42'}, 'quantity': 4}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '12.83'}, 'quantity': 3}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '11.82'}, 'quantity': 8}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '24.57'}, 'quantity': 5}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '36.13'}, 'quantity': 5}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '14.44'}, 'quantity': 9}]",New York,"{'gender': 'M', 'age': 26, 'email': 'rapifoozi@viupoen.bb', 'satisfaction': 5}",True,In store
2,{'$oid': '5bd761dcae323e45a93ccff2'},{'$date': '2015-07-25T07:20:29.804Z'},"[{'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '75.21'}, 'quantity': 1}, {'name': 'backpack', 'tags': ['school', 'travel', 'kids'], 'price': {'$numberDecimal': '61.11'}, 'quantity': 5}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '17.2'}, 'quantity': 8}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '37.41'}, 'quantity': 1}, {'name': 'printer paper', 'tags': ['office', 'stationary'], 'price': {'$numberDecimal': '43.63'}, 'quantity': 7}]",Seattle,"{'gender': 'F', 'age': 34, 'email': 'keigutip@vaw.tc', 'satisfaction': 4}",False,Phone
3,{'$oid': '5bd761dcae323e45a93ccff5'},{'$date': '2015-11-15T18:08:12.414Z'},"[{'name': 'laptop', 'tags': ['electronics', 'school', 'office'], 'price': {'$numberDecimal': '644.76'}, 'quantity': 3}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '24.4'}, 'quantity': 3}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '9.22'}, 'quantity': 2}, {'name': 'backpack', 'tags': ['school', 'travel', 'kids'], 'price': {'$numberDecimal': '83.27'}, 'quantity': 2}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '66.73'}, 'quantity': 3}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '18.87'}, 'quantity': 5}]",Seattle,"{'gender': 'M', 'age': 55, 'email': 'eja@ko.es', 'satisfaction': 2}",False,Online
4,{'$oid': '5bd761dcae323e45a93ccffd'},{'$date': '2015-07-27T20:05:46.464Z'},"[{'name': 'printer paper', 'tags': ['office', 'stationary'], 'price': {'$numberDecimal': '20.97'}, 'quantity': 3}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '22.96'}, 'quantity': 9}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '19.32'}, 'quantity': 1}, {'name': 'backpack', 'tags': ['school', 'travel', 'kids'], 'price': {'$numberDecimal': '55.55'}, 'quantity': 5}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '71.57'}, 'quantity': 3}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '57.58'}, 'quantity': 1}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '24.18'}, 'quantity': 8}, {'name': 'laptop', 'tags': ['electronics', 'school', 'office'], 'price': {'$numberDecimal': '910.07'}, 'quantity': 1}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '16.13'}, 'quantity': 6}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '12.73'}, 'quantity': 10}]",Denver,"{'gender': 'F', 'age': 31, 'email': 'fimpig@an.is', 'satisfaction': 5}",False,In store
...,...,...,...,...,...,...,...
4995,{'$oid': '5bd761deae323e45a93ce35a'},{'$date': '2015-04-27T23:12:34.004Z'},"[{'name': 'backpack', 'tags': ['school', 'travel', 'kids'], 'price': {'$numberDecimal': '146.56'}, 'quantity': 5}, {'name': 'printer paper', 'tags': ['office', 'stationary'], 'price': {'$numberDecimal': '37.02'}, 'quantity': 6}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '73.5'}, 'quantity': 4}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '24.36'}, 'quantity': 8}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '39.37'}, 'quantity': 5}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '23.14'}, 'quantity': 4}, {'name': 'laptop', 'tags': ['electronics', 'school', 'office'], 'price': {'$numberDecimal': '487.08'}, 'quantity': 4}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '29.11'}, 'quantity': 1}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '9.88'}, 'quantity': 1}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '17.72'}, 'quantity': 4}]",Austin,"{'gender': 'M', 'age': 41, 'email': 'bi@kok.pw', 'satisfaction': 5}",True,In store
4996,{'$oid': '5bd761deae323e45a93ce35b'},{'$date': '2017-07-12T06:54:17.918Z'},"[{'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '23.38'}, 'quantity': 5}]",Denver,"{'gender': 'F', 'age': 19, 'email': 'mohofri@cusa.jm', 'satisfaction': 5}",False,In store
4997,{'$oid': '5bd761deae323e45a93ce35e'},{'$date': '2017-11-10T00:17:46.358Z'},"[{'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '19.66'}, 'quantity': 3}, {'name': 'backpack', 'tags': ['school', 'travel', 'kids'], 'price': {'$numberDecimal': '40.33'}, 'quantity': 3}, {'name': 'laptop', 'tags': ['electronics', 'school', 'office'], 'price': {'$numberDecimal': '1546.03'}, 'quantity': 2}, {'name': 'printer paper', 'tags': ['office', 'stationary'], 'price': {'$numberDecimal': '12.5'}, 'quantity': 5}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '26.77'}, 'quantity': 3}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '14.01'}, 'quantity': 4}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '40.51'}, 'quantity': 1}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '22.43'}, 'quantity': 6}]",Denver,"{'gender': 'F', 'age': 60, 'email': 'usur@eccu.cw', 'satisfaction': 4}",False,In store
4998,{'$oid': '5bd761deae323e45a93ce35f'},{'$date': '2016-06-28T01:07:47.539Z'},"[{'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '27.37'}, 'quantity': 3}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '12.75'}, 'quantity': 4}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '79.86'}, 'quantity': 4}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '13.06'}, 'quantity': 4}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '24.81'}, 'quantity': 6}]",London,"{'gender': 'F', 'age': 51, 'email': 'desazobe@ti.ga', 'satisfaction': 4}",True,In store
4999,{'$oid': '5bd761deae323e45a93ce363'},{'$date': '2017-01-11T01:31:55.384Z'},"[{'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '15.15'}, 'quantity': 1}, {'name': 'backpack', 'tags': ['school', 'travel', 'kids'], 'price': {'$numberDecimal': '79.87'}, 'quantity': 5}, {'name': 'notepad', 'tags': ['office', 'writing', 'school'], 'price': {'$numberDecimal': '29.27'}, 'quantity': 5}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '13.71'}, 'quantity': 2}, {'name': 'printer paper', 'tags': ['office', 'stationary'], 'price': {'$numberDecimal': '47.49'}, 'quantity': 6}, {'name': 'binder', 'tags': ['school', 'general', 'organization'], 'price': {'$numberDecimal': '21.6'}, 'quantity': 9}, {'name': 'envelopes', 'tags': ['stationary', 'office', 'general'], 'price': {'$numberDecimal': '22.24'}, 'quantity': 8}, {'name': 'pens', 'tags': ['writing', 'office', 'school', 'stationary'], 'price': {'$numberDecimal': '6.09'}, 'quantity': 1}, {'name': 'laptop', 'tags': ['electronics', 'school', 'office'], 'price': {'$numberDecimal': '1493.54'}, 'quantity': 3}]",San Diego,"{'gender': 'M', 'age': 75, 'email': 'furow@utamudow.id', 'satisfaction': 5}",True,Online

In [28]:
import pandas as pd
import json

# Create an empty list to store the JSON objects
data_list = []

# Open the JSON file and read it line by line
with open(r'C:\Users\chenl\sales.json', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append it to the list
        data_list.append(json.loads(line))

# Create a DataFrame from the list of JSON objects
data = pd.DataFrame(data_list)

# Flatten the 'sales' column into separate rows
data = data.explode('items')

# Calculate the total sales (quantity * price) for each item
data['sales'] = data['items'].apply(lambda item: item['quantity'] * float(item['price']['$numberDecimal']))

# Group by product name, sum the total sales, and find the top 10 products
top_10_products = data.groupby(data['items'].apply(lambda x: x['name']))['sales'].sum().nlargest(10)
# Rename the columns
top_10_products = top_10_products.reset_index(name='sales')
top_10_products.rename(columns={'items':'name'}, inplace=True)

# Display the top 10 products with the updated column names
top_10_products

            name       sales
0         laptop  6775977.07
1       backpack   817374.10
2           pens   581843.27
3         binder   511644.57
4        notepad   463615.48
5      envelopes   376658.49
6  printer paper   367459.29

In [30]:
# Group by product name and store location, sum the total sales, and find the top 3 products in each store
top_3_products_by_store = data.groupby([data['items'].apply(lambda x: x['name']), 'storeLocation'])['sales'].sum().groupby('storeLocation', group_keys=False).nlargest(3)

# Reset the index and rename the columns
top_3_products_by_store = top_3_products_by_store.reset_index()
top_3_products_by_store.rename(columns={'items': 'name'}, inplace=True)

# Display the top 3 products by name and their sales by store location
top_3_products_by_store

        name storeLocation       sales
0     laptop        Austin  1018494.05
1   backpack        Austin   115217.59
2       pens        Austin    74622.52
3     laptop        Denver  1961659.25
4   backpack        Denver   245679.34
5       pens        Denver   185008.39
6     laptop        London  1073098.72
7   backpack        London   144529.14
8       pens        London    92602.30
9     laptop      New York   694613.32
10  backpack      New York    82563.14
11      pens      New York    64029.90
12    laptop     San Diego   462973.58
13  backpack     San Diego    50997.42
14      pens     San Diego    42134.55
15    laptop       Seattle  1565138.15
16  backpack       Seattle   178387.47
17      pens       Seattle   123445.61

In [31]:
# Group by store location, sum the total sales, and rank the store locations
store_rankings = data.groupby('storeLocation')['sales'].sum().sort_values(ascending=False).reset_index()

# Add the rankings to the DataFrame
store_rankings['rank'] = store_rankings['sales'].rank(ascending=False).astype(int)

# Display the rankings of each store location
print(store_rankings)

  storeLocation       sales  rank
0        Denver  2921009.92     1
1       Seattle  2255947.69     2
2        London  1583066.79     3
3        Austin  1445603.11     4
4      New York  1016059.59     5
5     San Diego   672885.17     6

In [34]:
# Group the data by 'purchaseMethod' and 'customer.gender', counting the occurrences and unstacking the data
purchase_gender_table = data.groupby([data['customer'].apply(lambda x: x['gender']), 'purchaseMethod']).size().unstack()

# Display the reversed table of purchase method by gender
print(purchase_gender_table)

purchaseMethod  In store  Online  Phone
customer
F                   8062    4270   1499
M                   7571    4314   1722

In [44]:
import pandas as pd

# Load JSON data into a DataFrame
data = pd.read_json(r'C:\Users\chenl\sales.json', lines=True)

# Custom function to parse the date strings
def custom_date_parser(date_str):
    if '$date' in date_str:
        return pd.to_datetime(date_str['$date'])
    else:
        return None

# Apply the custom date parser to the 'saleDate' column
data['saleDate'] = data['saleDate'].apply(custom_date_parser)

# Define a function to calculate the sales for each row
def calculate_sales(row):
    sales = sum(item['quantity'] * float(item['price']['$numberDecimal']) for item in row['items'])
    return sales

# Apply the sales calculation function to each row
data['sales'] = data.apply(calculate_sales, axis=1)

# Extract month and year from 'saleDate' and create new columns
data['Year'] = data['saleDate'].dt.year
data['Month'] = data['saleDate'].dt.month

# Group by 'Year' and 'Month' and calculate the sum of 'sales'
monthly_sales = data.groupby(['Year', 'Month'])['sales'].sum()

# Display the result
print(monthly_sales)

Year  Month
2013  1        196043.76
      2        147622.59
      3        140700.06
      4        162336.67
      5        179143.37
      6        142132.02
      7        176298.23
      8        130977.22
      9        137871.99
      10       173126.73
      11       148358.38
      12       174306.96
2014  1        125824.02
      2        141174.41
      3        193413.50
      4        132593.08
      5        166896.80
      6        143304.56
      7        184804.60
      8        167979.81
      9        159802.92
      10       149284.84
      11       180564.85
      12       139466.83
2015  1        222577.01
      2        189776.15
      3        178086.94
      4        132298.50
      5        167482.69
      6        149484.34
      7        149510.47
      8        154868.63
      9        135615.80
      10       175215.34
      11       158390.42
      12       166565.02
2016  1        166558.93
      2        120783.52
      3        193185.17
      4        137340.27
      5        162966.06
      6        132942.54
      7        180331.10
      8        164555.33
      9        138299.53
      10       151698.93
      11       170758.41
      12       215400.07
2017  1        207037.75
      2        134527.54
      3        162351.15
      4        191990.94
      5        202403.85
      6        201552.55
      7        156106.90
      8        173196.13
      9        186976.26
      10       191681.25
      11       202330.86
      12       175697.72
Name: sales, dtype: float64